run = "npm run dev"
language = "kaboomdraw"
entrypoint = "draw.js"
hidden = [
	".config",
	"misc",
	"vite.config.ts",
	"index.html",
	"main.ts",
	"package.json",
	"package-lock.json",
]

[nix]
channel = "stable-21_11"

[packager]
language="nodejs"

[packager.features]
packageSearch = true

[languages.javascript]
pattern = "**/*.{js,ts}"
syntax = "javascript"

[languages.javascript.languageServer]
start = [ "typescript-language-server", "--stdio" ]